<!DOCTYPE html>
<html>
<head>
	<title>My Web App</title>
</head>
<body>
	<h1 align="center"> <p style="color:Blue;">Allen gwapo</p> </h1>
	<h1 align="center"> <img src="https://z-1-scontent.fmnl3-1.fna.fbcdn.net/v/t1.0-9/13690781_1002167359899548_4979478799829874272_n.jpg?_nc_eui2=v1%3AAeE4hZlxrdgteBWaKJzzGzPM8_hABNGZIfNg_TxdY_1l1g_j9XAk5Wfbid8iym3FBQZweOu2rh6OqVW5cWG-fQHO470yGf1mcCtk12GPV5ZrNzgyXogk5fJVZybIQHj8Bfo&oh=f96438e121c6adac2d5fc6ff9b4f59e2&oe=590B5999" width="220" height="277" >
		<h1>Welcome to my web app!</h1>
		<h1>Allen Boy App</h1>
		<img src="img/redwoman.jpg" width = 304, height=300/>

		<br>
		<a href="/">Home</a> |
		<a href="/about">About</a> 
		<body style="background-color:yellow;">

			<h1>John snow</h1>
			<img src="img/thenorthremembers.jpg" style="width:304px;height:228px;  ">

			<h1>Queen</h1>
			<img src="img/thewarstocome.jpg" style="width:304px;height:228px;  ">

			<h1>Dragon</h1>
			<img src="img/twoswords.jpg" style="width:304px;height:228px;  ">

			<h1>Meeting</h1>
			<img src="img/valar.jpg" style="width:304px;height:228px;  ">

			<h1>Terror</h1>
			<img src="img/winteriscoming.jpg" style="width:304px;height:228px;  ">

		</body>
		</html>

